/*!
 *  icon object
 */

.icon.icon-search {
    padding-left: 20px;
}

.icon.icon-subscribe {
    padding-left: 25px;
}

.wl-sprite {
    display: inline-block;
    width: 17px;
    height: 17px;
}

.icon-only {
    text-indent: -9000em;
    outline: none;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}