/*!
 *  Color settings
 */

// Grays (from umbraco)
// -------------------------
$black:                 #000;
$blackLight:			#1d1d1d;
$grayDarker:            #222;
$grayDark:              #343434;
$gray:                  #555;
$grayMed:               #7f7f7f;
$grayLight:             #d9d9d9;
$grayLighter:           #f8f8f8;
$white:                 #fff;

// Accent colors (from umbraco)
// -------------------------
$blue:                  #2e8aea;
$blueDark:              #0064cd;
$blueLight:             #add8e6;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #DF7F48;
$turquoise:				#04bfbf;
$pink:                  #c3325f;
$purple:                #7a43b6;

// Static colors
// -------------------------
$hippieBlue: #6BA0AF;
$outerSpace: #303C40;
$iron: #D5D8D9;

// Custom colors
// -------------------------
$hightlight-green:      #9fce67;
$silver: #bababa;
$veryLightGrey: #ccc;